<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
        executionOrder="depends,defects"
        beStrictAboutOutputDuringTests="true"
        colors="true"
        cacheDirectory="./build/.phpunit.cache"
        requireCoverageMetadata="true"
        beStrictAboutCoverageMetadata="false"
        displayDetailsOnTestsThatTriggerWarnings="true"
>
    <coverage>
        <report>
            <html outputDirectory="build/coverage" lowUpperBound="35" highLowerBound="70"/>
            <text outputFile="build/coverage.txt"/>
        </report>
    </coverage>
    <php>
        <const name="APP_ENV" value="phpunit"/>
        <env name="APP_ENV" value="phpunit" force="true" />
    </php>
    <testsuites>
        <testsuite name="tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>